<h1>Help Page</h1>

<p>
  Get help Ruby on Rails at the
  <a href = "http://www.railstutorial.org/#help"> Ruby on Rails Help</a>
  To get help on sameple app. See the
  <a href ="http://www.railstutorial.org/book"> <em>Ruby on rails tutorial</em> book</a>
</p>
